{% extends 'admin_section/admin_page.html' %}
{% load crispy_forms_tags %}

{% block title_block %}

{% endblock title_block %}


{% block body_block %}
<div class="col-sm-8 mx-auto p-3 border border-success" style="margin-top:100px">
    <h3 class="text-center">খেলাধুলা</h3>
    <form method="POST" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" name="submit"  value = "Publish" class="mt-4 form-control btn btn-success">
    </form>
</div>
{% endblock body_block %}